:root {
    --blue-color: #9370DB;
    --red-color: #FF4040;
    --green-color: #90EE90;
    /* --yellow-color: #FFDEAD; */
    background-color: #FFFAFA;
    font-family: Andale Mono, monospace;
}
body {
    margin: 20px;
}
.container {
    margin: 0 auto;
    max-width: 300px;
}
h1, h2 {
    text-align: center;
    color: var(--blue-color);
    font-size: 18px;
    margin-bottom: 0;
    opacity: 0.8;
}
h2 {
    font-size: 16px;
    margin-top: 0;
}
hr {
    border-color: var(--blue-color);
    border-bottom: none;
    opacity: 0.4;
}
h3 {
    text-align: center;
    color: var(--red-color);
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}
.wrapper__element {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 175px;
}
a {
    display: flex; 
}
a:hover {
    transform: rotate(-10deg);
    transition: 1s all;
}
img {
    width: 150px;
    border: 3px solid var(--red-color);
    border-radius: 25%;
}
.done img {
    border: 3px solid var(--green-color);
}
h6 {
    color: var(--blue-color);
    font-size: 16px;
    opacity: 0.6;
    padding-right: 25px;
    width: 20px;
}
h4 {
    padding-left: 20px;
    font-size: 50px;
    color: var(--red-color);
    width: 50px;
    text-align: center;
}
.done h4 {
    color: var(--green-color);
}
h5 {
    text-align: center;
    color: #9370DB;
    font-weight: 300;
    opacity: 0.4;
}
/* Pages with tasks */
.task-item {
    font-size: 11px;
    color: var(--blue-color);
    font-weight: 900;
    border: 1px solid var(--red-color);
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #fff;
}
.task-item__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border: 1px dotted var(--red-color);
    padding: 10px 5px;
}
.task-item__doc {
    color: var(--blue-color);
}
.task-item__term {
    color: var(--red-color);
}
.task-item__problem {
    padding-top: 10px;
    text-align: center;
    font-weight: 300;
}
